* {
	margin: 0;
}
.app__dropdown {
	background-image: linear-gradient(
		325.8deg,
		#0A79DF 15.4%,
		rgba(255, 255, 255, 1) 53.1%
	);
}
.app__header > h1 {
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
}
.app__header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	justify-content: space-between;
}
body {
	background-color: #eaf0f1;
}
.app {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}
@media (max-width: 990px) {
	.app {
		flex-direction: column;
	}
}
.app-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.app-left {
	flex: 0.9;
}
.covid-stats {
	display: flex;
	justify-content: space-between;
}
.app-graph {
	flex-grow: 1;
}
.app-right {
	display: flex;
	flex-direction: column;
}
.app-right .MuiCardContent-root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.app-graphtitle {
	margin-top: 20px;
	margin-bottom: 20px;
}
