.infoBox {
	flex: 1;
	cursor: pointer;
	background-color: lightsalmon;
}

.infoBox:not(:last-child) {
	margin-right: 15px;
}

.infoBox--selected {
	border-top: 10px solid #0abde3;
}

.infoBox-cases-cases {
	color: #6a67ce;
	font-weight: 600;
	font-size: 1.75rem;
	margin-bottom: 0.5rem;
}
.infoBox-cases-recovered {
	color: #2ecc72;
	font-weight: 600;
	font-size: 1.75rem;
	margin-bottom: 0.5rem;
}

.infoBox-cases-deaths {
	color: #E71C23;
	font-weight: 600;
	font-size: 1.75rem;
	margin-bottom: 0.5rem;
}
.infoBox-total {
	color: #6c757d;
	font-weight: 700 !important;
	font-size: 0.8rem !important;
	margin-top: 15px !important;
}
