.table {
	margin-top: 20px;
	overflow: scroll;
	height: 400px;
	color: #6a5d5d;
}
.table tr {
	display: flex;
	justify-content: space-between;
}
.table td {
	padding: 0.5rem;
}
.table tr:nth-of-type(odd) {
	background-image: linear-gradient(
		325.8deg,
		#DAE0E2 15.4%,
		rgba(255, 255, 255, 1) 53.1%
	);
}
.table tr:nth-of-type(even) {
	background-image: linear-gradient(
		-325.8deg,
		#F9DDA4 15.4%,
		rgba(255, 255, 255, 1) 53.1%
	);
}
